body {
  margin: 0;
  padding: 0; }
  body #content {
    background: white;
    width: 1000px;
    margin: 0 auto;
    padding: 20px; }

h1 {
  text-align: center; }

.img-left, .brief {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; }

.brief {
  width: 300px;
  padding: 20px; }

.img-right {
  float: right;
  margin-left: 20px; }

img {
  outline: 2px solid black;
  outline-offset: 2px; }

caption {
  text-align: right; }

table tr:nth-child(1) th {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  padding: 5px;
  padding-left: 15px; }
table td {
  padding: 5px;
  padding-left: 15px; }

fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
  padding: 15px 0 15px;
  margin-right: 15px;
  display: inline-block;
  width: 47%; }
  fieldset input {
    width: 100%; }
  fieldset textarea {
    width: 100%;
    height: 100px; }

fieldset.oth {
  display: block;
  width: 96%; }
  fieldset.oth input {
    width: 100%; }

.send-btm {
  width: 200px;
  padding: 10px; }

body {
  color: white;
  background: rgba(198, 238, 252, 0.53); }
  body #content {
    background: #3b3b3b; }

h1, h2 {
  color: #fccd10; }

.brief {
  float: none;
  width: 96%;
  background: #fff178;
  margin-bottom: 50px;
  color: black; }

img {
  outline: 2px solid #fccd10;
  outline-offset: 2px; }

table tr:nth-child(1) th {
  background: #94a34e; }
table td {
  border-bottom: 1px solid #94a34e;
  background: #677d01; }

fieldset {
  color: #f5c70f; }

.send-btm {
  color: #f5c70f;
  background: #3b3b3b;
  border: 1px solid #f5c70f; }

a {
  color: #fccd10; }
